[root@iZ25l0tjop0Z mysql]# cat my.cnf

# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/5.6/en/server-configuration-defaults.html

## ===================== 客户端连接参数 =============================
[client]
## 客户端端口
port = 3306

## 客户端连接默认字符集
default-character-set = utf8mb4

## 连接套接字文件
socket = /data1/service/mysql/mysqld.sock

[mysqld]
## 启动MySQL服务系统用户，同命令行参数：--user=mysql
user = mysql

## MySQL服务监听端口，同命令行参数：--port=3306 或 -p 3306
port = 3306

## 默认数据表存储引擎
default_storage_engine = InnoDB

## MySQL服务本地连接套接字，同命令参数 --socket=${sock_file_name}，默认值：/tmp/mysql.sock
socket = /data1/service/mysql/mysqld.sock

## MySQL服务PID，同命令参数 --pid-file=${pid_file}
pid-file = /data1/service/mysql/mysqld.pid

## MySQL服务安装目录，同命令行参数 --basedir=${base_dir} 或 -b {base_dir}
basedir = /data1/service/mysql

## MySQL数据目录，同命令行参数 --datadir=${data_dir} 或 -h {data_dir}
datadir = /data1/service/mysql/data

## 临时目录，同命令行参数 --tmpdir=${tmp_dir}，默认值：/tmp
tmpdir = /data1/service/mysql/tmp

## 每次网络通信允许的最大数据包长度，默认4MB，最大16GB，如果数据库中有大的BLOB字段，需要调整该值，同命令行参数 --max_allowed_packet=${length}
max_allowed_packet = 32M

## 连续多少次连接失败后，MySQL服务端组织该客户端连接。当客户端连接被阻止后，唯一解除连接阻止的方式是mysqladmin flush-hosts。同命令行参数 --max_connect_errors，默认值：100
max_connect_errors = 1000000

## MySQL服务端允许的最大连接数
max_connections = 10240

## BIN-LOG
log_bin = /data1/service/mysql/binlog/log-bin

## BIN-LOG格式，ROW, STATEMENT, MIXED(default)
binlog_format = MIXED

## 不记录bin-log的数据库
binlog-ignore-db = test

## 日志过期时间
expire_logs_days = 7

## RELAY-LOG
relay-log = /data1/service/mysql/relaylog/log-relay

## 临时表大小
tmp_table_size = 128M
  
## 内存表最大值
max_heap_table_size = 128M

## 关联查询缓存
join_buffer_size = 1M

## 查询结果缓存设置，0|OFF：不适用缓存，1|ON：适用缓存(除了SELECT SQL_NO_CACHE)，2|DEMAND：只缓存以SELECT SQL_CACHE开始的查询结果
query_cache_type = OFF

## 查询结果缓存大小，关闭query_cache_type时，该值需要被设置为0
query_cache_size = 0

## 缓存查询结果的最大值
query_cache_limit = 0

## 连接线程池最大值
thread_cache_size = 64

## 最大打开文件数
open_files_limit = 65535

## 连接超过指定时间(秒)不用后，服务端主动断开连接
wait_timeout = 1800
interactive_timeout = 1800

## 服务端使用的字符集，指定该参数时，需要同时指定--collation-server参数，同命令参数：--character-set-server=${charset_name} 或 -C ${charset_name}
character-set-server = utf8mb4

## 服务端使用的collation，同命令参数：--collation-server=${collation_name}
collation-server = utf8mb4_unicode_ci

## 连接Server时执行的语句
init_connect = 'set names utf8mb4'

## 忽略客户端连接服务器使用的字符集，直接使用服务端字符集设置
skip-character-set-client-handshake = 1

## 关闭此内容 http://dev.mysql.com/doc/refman/5.6/en/performance-schema-system-variables.html#sysvar_performance_schema
performance_schema = OFF

## InnoDB可使用的缓存空间，默认值：128M
innodb_buffer_pool_size = 4096M

## InnoDB缓存池实例数量，多CPU时，增加可提高并行效率，默认值：8或1(innodb_buffer_pool_size < 1G)，可选值 1-64
innodb_buffer_pool_instances = 1

## InnoDB数据文件类型，KB时，必须为1024的倍数，默认值：ibdata1:12M:autoextend
innodb_data_file_path = ibdata1:12M:autoextend

## InnoDB文件格式，Antelope或Barracuda，默认值：Antelope，需要开启压缩时，必须使用Barracuda
innodb_file_format = Barracuda

## 日志相关
log_error = /data1/service/mysql/logs/mysql_error.log
slow_query_log = 1
slow_query_log_file = /data1/service/mysql/logs/slow.log
long_query_time = 1

## 不允许操作系统锁定MySQL服务
skip-external-locking

skip-name-resolve

sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES 

[mysqld_safe]
socket = /data1/service/mysql/mysqld.sock
nice = 0